<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imcgeek.android.farmss">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/LoginActivityLable" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/RegisterActivityLable" />
        <activity
            android:name=".activities.PlotsizeActivity"
            android:label="@string/PlotsizeActivityLable" />
        <activity
            android:name=".activities.SoiltestingActivity"
            android:label="@string/SoiltestingActivityLable" />
        <activity
            android:name=".activities.SoilresultActivity"
            android:label="@string/SoilresultActivityLable" />
        <activity
            android:name=".activities.CropSelectionActivity"
            android:label="@string/CropSelectionActivityLable" />
        <activity
            android:name=".activities.RecommendedFurtilizerActivity"
            android:label="@string/RecommendedFurtilizerActivityLable"/>
    </application>

</manifest>